@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

    <style>
        {
            background-color: #393b50
        }
    </style>

    <AuthorizeView>


        <Authorized>

            <a href="#">Hello, @context.User.Identity.Name!</a>
            <a href="#" data-toggle="tooltip" title="Sign-Out">
                <button class="nav-link btn btn-link" @onclick="BeginSignOut"><i class="oi oi-account-logout"></i></button>
            </a>
        </Authorized>




        <NotAuthorized>

            <a href="authentication/register">Register</a>
            <a href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>

    @code{
        private async Task BeginSignOut(MouseEventArgs args)
        {
            await SignOutManager.SetSignOutState();
            Navigation.NavigateTo("authentication/logout");

        }
    }
